In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(3)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\nth...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\n( see a...",0
2,3624,ham,"Subject: neon retreat\nho ho ho , we ' re arou...",0

In [7]:
df = df[['text','label_num']]
df.head(3)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\nth...          0
1  Subject: hpl nom for january 9 , 2001\n( see a...          0
2  Subject: neon retreat\nho ho ho , we ' re arou...          0

In [9]:
# Run - Running
#Natural-Native Language Tool Kit
!pip install nltk

Requirement already satisfied: nltk in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from click->nltk) (0.4.6)

In [19]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
# Stopword kaldırma işlemi. -> the, at, on, is
# Stem işlemi (Kelimeleri köküne indirme) -> Running -> Run
# rUnning - RUNNING - ruNNing

import string
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

# Python DERSLERİMİZ Hakkında. -> "python derslerimiz hakkında" -> ["python","derslerimiz","hakkında"]

ps = PorterStemmer()

def clean_text(text):
    text = text.lower() # tüm metni küçük harfe çevirdi

    text = text.translate(str.maketrans('','', string.punctuation)) # tüm noktalama işaretlerini kaldır..

    words = text.split()

    words = [ word for word in words if not word.isdigit() ]

    words = [ ps.stem(word) for word in words if word not in stopwords.words('english') ]

    return "".join